<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CanConsteel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CanConsteel.Properties.Settings.Connection" connectionString="server=localhost;user=root;;database=CanConsteel;port=3306;password=Satanso12" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CanConsteel.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="AutoBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Grade" serializeAs="String">
        <value />
      </setting>
      <setting name="Batch" serializeAs="String">
        <value>0</value>
      </setting>
    </CanConsteel.Properties.Settings>
  
</userSettings>
</configuration>